{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>


<link  rel="stylesheet" href="{% static 'css/style1.css' %}" >

</head>
<body style="background-color: rgb(173, 209, 111); margin-left: 200px;">
  <section style="background-color: cadetblue; width: 500px; height: 450px;">
    <div>
        <h1 style="color:rgb(20, 68, 113)" >Listing Your Task Activity</h1><br><br>
    </div>
    <div> 
        <div class="container">
        <div id="tsk" >
            <input type="text"  id ="task" placeholder="Add Task"><br><br>
            <input type="text"  id ="acti" placeholder="Activity">
           <br> <br><br>
          
            <button id="btn2" onclick="addtask()" type="button"  >ADD</button>
          </div>
          </div>
    </div><br>
  </section>

<div>
    <table class="tb" id="todo_id">
        <thead>
          <tr>
            <th scope="col">S.N0</th>
            <th scope="col">Task</th>
            <th scope="col">Activity</th>
            <th scope="col">Date</th>
            <th scope="col">Satus</th>
            <th scope="col" ></th>
          </tr>
        </thead>
        <tbody>
        </tbody>  
      </table>
</div>



<script>
    var s_no = 0
    var tr_no = 0
    function addtask()
    {
      var tb = document.getElementById("todo_id")
      var new_tr = document.createElement("tr") // createing a new row
      var task = document.getElementById("task")
      var acti = document.getElementById("acti")
      var status = "pending"
      var date = new Date()
      var current_date = date.getDate() + "/" + date.getMonth() + "/" + date.getFullYear()
      console.log(current_date)

      tr_no ++
      var tr_id = "tr" + tr_no
      new_tr.setAttribute("id",tr_id)
      

      //creating td inside newly created tr
      var td_sn = new_tr.appendChild(document.createElement('td'))
      var td_task = new_tr.appendChild(document.createElement('td')) 
      var td_acti = new_tr.appendChild(document.createElement('td'))
      var td_date = new_tr.appendChild(document.createElement('td'))
      var td_status = new_tr.appendChild(document.createElement('td'))
      var td_action = new_tr.appendChild(document.createElement('td'))
      
      
      s_no ++
      td_sn.innerHTML = s_no
      td_task.innerHTML = task.value
      td_acti.innerHTML = acti.value
      td_date.innerHTML = current_date
      td_status.innerHTML = "<span id='spa' style='color:red'>pending</span>"
      td_action.innerHTML = "<button type='button' onclick=taskComplted()  class='btn btn-primary' id='btn2' > Complted </button>"
      
      // to clear the text felid
      task.value = ""
      acti.value = ""

  

      tb.appendChild(new_tr) //appending newly created tr inside table
    }

    function taskComplted()
    {
      var selected_row_id = event.target.parentNode.parentNode.id //to get the tr id
      var selected_row = document.getElementById(selected_row_id)
      var children = selected_row.childNodes
      console.log(children)
      console.log(selected_row_id)
      children[4].innerHTML = "<span style='color:green'>complte</span>"
      selected_row.style.textDecoration = "line-through"
    
    }


  </script>

</body>
</html>